*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:#CAA6A6;
    padding: 10px;
}

.todo{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo img{
    width: 90px;
    margin-left: 10px;
    height: 90px;

}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7d5b5b;
    border-radius: 40px;
    padding-left: 20px;
    margin-bottom: 25px;

}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 12px 50px;
    background-color: #c18e8e;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(download.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;
}
ul li.checked {
    color: black;
    /* text-decoration: line-through; */
}
ul li.checked::before{
    background-image: url(checkedd.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 4opx;
    text-align: center;
    border-radius: 50px;
}

ul li span:hover{
   background: #c18e8e;
}